django
django-cache-memoize
django-cors-headers
django-filter
django-redis
djangorestframework
gunicorn
jsonschema
mysqlclient
requests
sentry-sdk
simplejson
supervisor
whitenoise
python-dotenv
pycoingecko==3.1.0
